* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
  }
  
html {
    font-size: 62.5%;
  }

/* resets */

body {
    background-color: #272727;
    font-family: 'Bebas Neue';
    
}

.container {
    border: 2px rgb(255, 255, 255) solid;
    height: 691px;
    display: grid;
    grid-template-columns: 320px 1fr;
}

.sideForm {
    font-family: 'Bebas Neue';
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    position: relative;
    top: 49px;
    left: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
}

.bookDisplay {
    display: flex;
    flex-wrap: wrap;

}

.title {
    font-size: 70px;
    margin-bottom: 30px;
    color: #ff00ea;
    position: relative;
    top: 10px;
    outline: 10px;
}

.input{
    height: 20px;
    width: 300px;
    margin: 30px;
    font-size: 21px;
    border-radius: 0px;
    background-color: #222222;
    border: 0px;
    color: white;
    padding: 10px;
    border-top: 1px #ff00ea solid;
    font-family: 'roboto';
}

.checkText {
    font-size: 20px;
    margin-top: 10px;
}

.card {
    height: 230px;
    width: 250px;
    margin: 20px;
    position:relative;
    left: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
    border: 1px #ff00ea solid;
    font-family: 'roboto';
    color: rgb(224, 224, 224);
}

.cardTextPages {
    font-size: 23px;
    text-align: left;
    margin-left: 13px;
    margin-top: 1px;
}

.cardTextTitle {
    font-size: 25px;
    text-align: left;
    margin-top: 13px;
    margin-left: 13px;
}

.author {
    font-size: 23px;
    text-align: left;
    margin-top: 1px;
    margin-left: 13px;
    margin-right: 4px;
}

.checkBox {
    height: 40px;
    width: 70px;
    align-self: flex-end;
    position: relative;
    cursor: pointer;
    top: 16px;
    right: 26px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
    border: 1px #ff00ea solid;
}

.checkBoxClicked{
    font-variant: normal;
}

.text {
    font-size: 20px;
    align-self: flex-start;
    position: relative;
    left: 23px;
    bottom: 20px;
    color:rgba(255, 255, 255, 0.863);
}

.saveBook {
    background-color: rgb(36, 36, 36);
    color: rgb(121, 121, 121);
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
}

.saveBookHover{
    padding: 16px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px #ff00ea;
    box-shadow: 0 0 10px #ff00ea;
    color: #ff00ea;
    position: relative;
    bottom: 3px;
    font-size: 32px;
}



.saveBookClicked {
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    margin-top: 25px;
}

.removeButton {
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 30px;
    bottom: 10px;
    border-radius: 14px;
    border: 1px #ff00ea solid;
    font-size: 13px;
    cursor: pointer;
}

.readButton {
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: white;
    border-radius: 14px;
    border: 1px #ff00ea solid;
    font-size: 13px;
    cursor: pointer;
}

.readButtonClicked{
    color: white;
}

.titleCheck {
    font-size: 18px;
    position: absolute;
    top: 198px;
    left: 11px;
    color: red;
}

.authorCheck {
    font-size: 18px;
    position: absolute;
    top: 299px;
    left: 11px;
    color: red;
}

.pagesCheck {
    font-size: 18px;
    position: absolute;
    top: 399px;
    left: 11px;
    color: red;
}

.bookTitle {
    outline: 0px;
}

.bookAuthor{
    outline: 0px;
}

.bookPages {
    outline: 0px;
}

